* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.style-center {
    max-width: 1200px;
    margin: auto auto;
}

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 50px;
    align-items: center;
}

.gender {
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: ;
}

.link {
    width: 70px;
    height: 60%;
}

.nav img {
    max-height: 60%;
}

main {
    padding-bottom: 50px;
}

.card-inner {
    padding-top: 80px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: calc(33% - 20px);
    position: relative;
}

.card img {
    width: 100%;
}

.card .first {
    position: relative;
}

.card .second {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .second {
    display: inline;
}

.description .marca {
    color: grey;
}

.description .actual-price {
    color: red;
    font-weight: bold;
}

.description .old-price {
    text-decoration: line-through;
}

.sale {
    position: absolute;
    display: flex;
    color: white;
    gap: 10px;
    bottom: 100px;
}

.percentuale {
    background-color: red;
    padding: 3px;
    font-size: 13px;
}

.eco {
    background-color: green;
    padding: 3px;
    font-size: 13px;
}

.heart {
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    z-index: 2;
    color: black;
    text-decoration: none;
}

.heart:hover {
    color: red;
}

footer {
    background-color: #1a1a1a;
    color: white;
    height: 150px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .footer-inner .footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-inner .info {
display: flex;
gap: 10px;
}

footer .footer-inner .footer-right {
    display: flex;
    flex-direction: column;
}

footer .footer-inner .footer-right .social {
    display: flex;
    gap: 10px;
}

footer .footer-inner .footer-right .social img {
    max-width: 20px;
    max-height: 20px;
    margin-top: 10px;
}